:root{
    --main-bg-color : #FFFFFF;
    --secondary-bg-color : #F7F7F9;

    --primary-text-color : #363A43;
    --secondary-text-color : #666C7B;

    --selected-color : #B0B4BE;
    --divider-line-color: #E0E2EA;
}


body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    font-family: "Inter", sans-serif;
    color: var(--primary-text-color);
}

p{
    margin: 0;
}

#root{
    padding-top: 8px;
}