.footer-container {
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: var(--secondary-text-color);
    margin-bottom: 24px;
}