
/* 1000px and above */
@media (min-width: 1000px) {

}


.footer-container {
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #666C7B;
    margin-bottom: 24px;
}