.checkout-container{
    background-color: var(--main-bg-color);

    display: flex;
    justify-content: center;
    gap: 32px;
    margin-bottom: 32px;
}

.wrapper{
    background-color: var(--main-bg-color);
    box-sizing: border-box;

}

/* 360px - 452px */
@media (min-width: 360px) and (max-width: 452px) {
    .wrapper{
        max-width: 328px;
        margin: 20px auto auto;
    }
    .checkout-container{
        padding: 0;

        flex-direction: column;
        gap: 32px;
        margin-bottom: 32px;
    }
}

/* 453px - 999px */
@media (min-width: 453px) and (max-width: 999px) {
    .checkout-container{
        padding: 0;
        background-color: var(--main-bg-color);

        flex-direction: column;
        gap: 32px;
        margin-bottom: 32px;
    }

    .wrapper{
        max-width: 420px;
        margin: 16px auto auto;
    }
}

/* 1000px and above */
@media (min-width: 1000px) {
    .checkout-container{
        padding: 0 64px;
    }

    .wrapper{
        max-width: 1000px;
        margin: 0 auto auto;
    }
}